$color-primary: #1890ff;
$color-white: #fff;
$color-white-opacity: rgba(255, 255, 255, 0.1);
$color-grey: #f0f2f5;
$color-gray: #f5f5f5;
$color-black: #000;
$color-black-3: #000;
$color-black-6: #666;
$color-black-9: #999;
$color-black-opacity: rgba(0, 0, 0, 0.1);
$color-red: #f04134;
$color-blue: #40a9ff;
$color-green: #4ba45d;
$color-light-green: #b7eb8f;
$color-light-yellow: #ffe58f;
$color-orange: #e6a23c;
$color-pink: #ffa39e;
$color-line :#E4E7ED;
$color-sider: #001529;
$font-24: 24px;
$font-22: 22px;
$font-20: 20px;
$font-18: 18px;
$font-16: 16px;
$font-14: 14px;
$font-12: 12px;
$margin-24: 24px;
$margin-16: 16px;
$margin-12: 12px;
$margin-4: 4px;
$common-width: 1200px;
$sider-width: 240px;
$header-height: 64px;
$bread-height: 50px;