
.sider__ant {
	height: 100vh;
}
.sider__ant__title {
	background: #00284d;
	height: $header-height;
	padding: $margin-12;
	color: $color-white;
	font-size: $font-18;
}
.menu__ant {
	background: $color-sider;
}